.container {
	width: 95%;
}

.navbar {
	min-height: 50px;
	margin-bottom: 0px;
	border: 1px solid transparent;
}

.navbar .nav> li {
	position: relative;
	display: block;
}

.navbar-default {
	background-color: #de4949;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #efefef;
}

.navbar-default .navbar-toggle {
	border-color: #efefef;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: rgba(220, 55, 55, 0.9);
}

.navbar-default .navbar-brand a {
	font-family: Trebuchet MS, snas-serif;
	font-weight: bold;
	color: #efefef;
	line-height: normal;
	text-decoration: none;
	text-transform: uppercase;
}

.navbar-default .navbar-nav> li> a {
	color: #fff;
	background-color: transparent;
}

.navbar-default .navbar-nav> li> a:hover,
.navbar-default .navbar-nav> li> a:focus {
	color: #efefef;
	background-color: #E45F5F;
}

.navbar-default .navbar-nav> .active> a,
.navbar-default .navbar-nav> .active> a:hover,
.navbar-default .navbar-nav> .active> a:focus {
	color: #efefef;
	background-color: #E45F5F;
}

.navbar-default .navbar-nav> .open> a,
.navbar-default .navbar-nav> .open> a:focus,
.navbar-default .navbar-nav> .open> a:hover {
	color: #efefef;
	background-color: #E45F5F;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 10px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}

.navbar-default .navbar-nav .open .dropdown-menu> li> a {
	color: #ABABAB;
	width: 95%;
}

.navbar-default .navbar-nav> .open> .dropdown-menu li a:focus,
.navbar-default .navbar-nav> .open> .dropdown-menu li a:hover {
	color: #e7e7e7;
	background-color: #CA3939;
}


/*------------------*/

.banner {
	width: 100%;
	height: 700px !important;
	padding: 16% 0 0 0;
	position: relative;
	background: rgba(220, 55, 55, 0.9);
	background-size: 100% 100%;
}

.banner .slogan {
	top: 0px;
	text-align: center;
}

.banner .btn-circle-scroll {
	text-align: center;
}

.banner .slogan h2 {
	font-family: Trebuchet MS, snas-serif;
	color: #fff;
	text-shadow: none;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: -1px 0 1px #000;
	background-color: transparent;
	border-width: 0px;
	border-color: #000;
	border-style: none;
}

.banner .slogan h2 {
	font-size: 63px;
	line-height: 60px;
	font-weight: 700;
}

.banner .slogan h4 {
	font-family: Trebuchet MS, snas-serif;
	color: #f7f7f7;
	margin-bottom: 30px;
	font-weight: 600;
	text-shadow: 0px 1px 1px #000;
}

.banner .slogan h4 {
	font-size: 20px;
}

footer p {
	color: #f8f8f8;
}

.btn-circle-scroll {
	margin-bottom: 30px !important;
}

.btn-circle {
	width: 70px;
	height: 70px;
	font-size: 40px;
	padding: 5px 16px;
	border: 2px solid #B02424;
	margin-top: 15px;
	border-radius: 25%;
	color: #fff;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
	box-shadow: -1px 1px 1px rgba(255, 253, 223, 0.4);
}

.btn-circle:hover ,.btn-circl:focus{
	color:#fff;
	background:rgba(255,255,255,0.1)
}

